
    <!-- hero-section-start -->
    <div class="hero-section" id="home">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-content">
                        <h1 class="hc-header">Online Personal Training</h1>
                        <p class="hc-text">Maximum Results in Minimum Time, no matter your location</p>
                        <a class="hc-link" href="#">SELECT YOUR PLAN</a>
                    </div>
                </div>
            </div>
            <div class="crumbs" ng-controler="blogdetailsCtrl">
                <nav>
                    <ul class="crumb">
                        <li><a class="crumb-home" href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#/blog">Articles/Blog posts<i class="fa fa-angle-right"></i></a></li>

                        <li class="breaking-news"><a class="active-title" href="#">{{article.titre}}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- hero-section-end -->
    <!--three column section start-->
    <div class="three-clm-section">
        <div class="container" ng-controler="blogdetailsCtrl">
            <div class="col-md-8 col-sm-12">
                <div class="blog-post-details">
                    <div class="post-details">
                        <h1 class="blog-title">{{article.titre}}</h1>
                        <p>{{article.nom_cat}}</p>
                        <img src="public/img/blog/blog-detail/blog-post-image.jpg" alt="" class="blog-image" />
                        <p class="blog-desc">{{article.contenu}}</p>
                        
                    </div>
                    </div>
                    <div class="contact-form">
                        <h1>Laissez un commentaire</h1>
                        <div class="blog-leave-comment-area">
                            <!-- <form action="#"> -->
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="blca-name blca-formgroup">
                                            <input type="text" name="name" ng-model="comment.name" placeholder="Name *">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="blca-email blca-formgroup">
                                            <input type="text" name="email" ng-model="comment.email" placeholder="email address *">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="blca-comment blca-formgroup">
                                            <textarea name="msg" ng-model="comment.texte" placeholder="Your comments *"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="blca-comment blca-formgroup">
                                            <button class="hover-bs" ng-click="AddComment(comment)" name="comment">post comment</button>
                                        </div>
                                    </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--three column section end-->
